.services-submenu {
    width: 155px;
    position: absolute;
    top: 68px;
    list-style: none;
    text-align: start;

}


.services-submenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    height: 40px;
    box-shadow: 0px 2px 4px 2px rgb(152, 150, 150);

}



.services-submenu li a:hover {
    background-color: whitesmoke;
    height: 40px;
    width: 165px;
}

.services-submenu .clicked {
    display: none;
}