.vhi__navbarContainer {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.navbar-logo {
    margin-left: 60px;
}

.vpr_logo_file {
    width: 185px;
    height: 85px;
}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 130vh;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

}

.drop-icon {
    font-size: 17px !important;
    position: relative;
    bottom: -1px;
    left: 5px;
    color: rgb(3, 184, 3);
}

.nav-item {
    display: flex;
    align-items: center;


}

.nav-item a {
    text-decoration: none;
    color: #4E4C4C;
    font-weight: 500;
    margin-right: 2px;
    width: 160px;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-item a:hover {
    color: rgb(3, 184, 3) !important;
    transition: transform 200ms ease-in-out;

}