.input__over_all__container {
    background-color: lightblue;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#level-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}



.level-one {
    width: 30%;
    height: 75px;
    background-color: cadetblue;
}

.level-one input {
    width: 60%;
    height: 45px;
    border-radius: 20px;
    padding-left: 15px;
    font-size: 18px;
    padding-right: 15px;
}