.input__over_all__container {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    height: 100px;
}


#level-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}



.level-one {
    width: 25%;
    height: 80px;
    background-color: cadetblue;

}

.level-one label {
    font-size: 20px;
}

.level-one input {
    width: 85%;
    height: 55px;
    border-radius: 25px;
    padding-left: 15px;
    font-size: 18px;
    padding-right: 15px;
}