.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
}
.logo1{
    width:60%;
    margin-left: 2rem;
}
.Links #links{
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
  font-family: poppins;
  color: black;
  margin-right: 1rem;
}
#links:hover{
    color: #00C707;
}
.Links :active{
    color: #00C707;
}
.Side-Btn{
display: flex;
margin-right: 2rem;
    
}
.Login{
    background-color:#00C707;
    color: white;
    border-radius: 10px;
    width: 93.921px;
    height: 37.196px;
    flex-shrink: 0;
    border: none;
    font-family: poppins;
    
}
.Login:hover{
    font-size: medium;
    
}
.Register{
    margin-left: 4px;
    border-radius: 10px;
    border: 2px solid ;
    background: rgba(253, 255, 254, 0);
    width: 90.526px;
    height: 37.196px;
    color: #00C707;
    font-family: poppins;
}
.Register:hover{
  font-size: medium;
}