
.Header{
    margin-top: 1rem;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 114.5%;
}
.para{
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 100;
margin-top: 1rem;
color: #4E4C4C;

}
.Image{
    text-align: center;
}
.build{
width: 38%;
flex-shrink: 0;
}