.banner__title {
    display: grid;
    place-items: center;
    margin-top: 30px;

}

.banner__title h1 {
    color: #3F3D56;
    font-size: 60px;
    margin-top: 15px;
}

.banner__title p {
    font-size: 30px;
    line-height: 55px;
    color: #5b596b;
    font-weight: 500;

}

.vhi_registration-container {
    position: relative;
}

.ques-con {
    display: flex;
    justify-content: right;
    position: fixed;
    bottom: 25%;
    left: 94%;

}

.question-icon {
    font-size: 55px !important;
    color: rgb(3, 184, 3);
}