.Full_page{
    display: flex;
    margin-left: 4rem   ;
}
.Header{
    font-family: Poppins; 
    font-size: 4rem;
    margin-bottom: -1rem;
}
.text{
    font-size: 20px;
    font-family: calibri;
}
.inputs{
    margin-top: 1rem;
}
#box{
    height: 40px;
    width: 30rem;
    border-radius: 10px;
    border: 1px solid black;
}
#box2{
    height: 150px;
    width: 40rem;
    border-radius: 10px;
    border: 1px solid black;
}
.contact_img{
    margin-left: 6rem;
}
.Submit{
    margin-top: 1rem;
    width: 400px;
    height: 70px;
    border-radius: 20px;
    border: 2px solid ;
    background: rgba(253, 255, 254, 0);
    background-color: #00C707;
    color: white;
    font-size: 20px;
    font-family: poppins;
}
.Submit:hover{
    background-color: #02a107;
  
}