.leftloginContainer {
    flex: 0.5;
    /* background-color: aqua; */
}

.left-login-topitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

.leftlogin-imgitems {
    /* background-color: brown; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2%;


}

.left-login-topitems img {
    margin-left: 2%;
}

.left-login-topitems h1 {
    text-align: center;
}

/* .leftlogin-imgitems {
    width: 30%;

} */

.left-login-topitems img {
    width: 100px;
    height: 100px;

}