.main_page{
    text-align: center;
}
.Header{
   font-family: Poppins; 
   font-size: 3rem;

}
.Text{
    font-size: 16px;
    margin-top: 1rem;
    font-family: calibri;
}
#image{
    margin-top: 2.5rem;
    width: 30%;
}