.main_page{
    text-align: center;
}
.Header{
   font-family: Poppins; 
   font-size: 4rem;

}
.Text{
    font-size: 19px;
    margin-top: 1rem;
    font-family: calibri;
}
#image_p{
    margin-top: 2.5rem;
    width: 24%;
}