
.left{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    width: 40rem;;
 }
 .header{
   margin-top: 2.8rem;
 }
.details{
    margin-left: -1rem;
}
.Date_time{
   display: flex;
   margin-top: 1rem;
}

.car{
    display: flex;
    margin-top: 2rem;
 }
 .file{
        display: flex; 
        margin-top: 2rem;
 }

 .flex{ margin-left: 0.5rem;
 }
 
.right{
   float: right;
   margin-top: -30rem;
   
}